{% extends "utils/base.html" %}
{% block start %}
<div class="container mt-5 pt-5 pb-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/104731717/photo/luxury-resort.jpg?s=612x612&w=0&k=20&c=cODMSPbYyrn1FHake1xYz9M8r15iOfGz9Aosy9Db7mI=" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">The Grand</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                  <span class="badge text-bg-primary">🏊Swimming Pool</span>
                  <span class="badge text-bg-primary">AC</span>

                </div>
              </div>  
        </div>

        <div class="col-md-3">
            <div class="card shadow" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/146765403/photo/a-luxurious-florida-beach-hotel-during-sunrise.jpg?s=612x612&w=0&k=20&c=pxw9Q78KbvqV6_pS_C-v_m6S_WQjKWLBSdqgRtqMUUg=" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Royal</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                  <span class="badge text-bg-primary">Complimentary Breakfast🍽️</span>
                  <span class="badge text-bg-primary">Gym</span>

                </div>
              </div>
        </div>


        <div class="col-md-3">
            <div class="card shadow" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/119926339/photo/resort-swimming-pool.jpg?s=612x612&w=0&k=20&c=9QtwJC2boq3GFHaeDsKytF4-CavYKQuy1jBD2IRfYKc=" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Pinnacle</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                  <span class="badge text-bg-primary">❄️ Air Conditioned Rooms</span>
                  <span class="badge text-bg-primary">24/7 Food </span>

                </div>
              </div>
        </div>


        <div class="col-md-3">
            <div class="card shadow" style="width: 18rem;">
                <img src="https://www.ammoaresort.com/uploads/images/768/316_R1294.jpg?v=202404121624" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Shaab Hotel</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                  <span class="badge text-bg-primary">🧖 Spa & Wellness Center</span>
                  <span class="badge text-bg-primary">Pub</span>

                </div>
              </div>
        </div>
    </div>
</div>

{% endblock %}